# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# https://editorconfig.org

# top-most EditorConfig file
root = true

[*.json]
indent_size = 2

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj,props}]
indent_size = 2

[*.cs]
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = tab

[*.js]
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = tab
