@page "/"

@* @using WebKitGtk.Test.Components *@
@using System.Diagnostics

<h1>Welcome to Blazor Hybrid for Linux!</h1>

<p>Application took @StartupTime ms to start</p>

@code {
    string StartupTime
    {
        get
        {
            return (DateTime.Now - Process.GetCurrentProcess().StartTime).TotalMilliseconds.ToString("#,0");
        }
    }
}