@page "/"

@using BlazorWebKit.Test.Components
@using System.Diagnostics

<Counter />

<p>@StartupTime</p>

@code {
    string StartupTime
    {
        get
        {
            return (Process.GetCurrentProcess().StartTime - DateTime.Now).ToString() + "x";
        }
    }
}